<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    {{template "head" .}}
</head>

<body>
    <!-- Header section start -->
    <header>
        {{template "header" .}}
    </header>
    <!-- Header section end -->

    <!-- Main section start --->
    <main>
        {{template "main" .}}
    </main>
    <!-- Main section end --->

    <!-- Footer section start -->
    <footer>
        {{template "footer" .}}
    </footer>
    <!-- Footer section end -->
</body>

</html>
