{{define "head"}}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{{with .Head.Title}}{{.}} - {{end}}Крона мебель</title>

{{with .Head.Description}}<meta name="description" content="{{.}}">{{end}}
{{with .Head.Keywords}}<meta name="keywords" content="{{.}}">{{end}}

<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

{{end}}
