{{define "header"}}
<h1>Заголовок</h1>
<h2><a href="/catalogs">Каталог мебели</a></h2>
{{with .Catalogs}}
<nav>
    <ul>
        {{range .}}
        <li>
            <a href="/catalogs/{{.Alias}}">
                <p>{{.RuName}}</p>
            </a>
        </li>
        {{else}}
            <p>Ошибка при загрузке каталогов. Попробуйте обновить страницу позднее. Err 1</p>
        {{end}}
    </ul>
</nav>
{{else}}
<p>Ошибка при загрузке каталогов. Попробуйте обновить страницу позднее. Err 2</p>
{{end}}
<h1>Конец заголовка</h1>
{{end}}
