{{define "main"}}
<!-- Banner section start -->
<a href="/aboba">aboba</a>
<!-- Banner section end -->
<!-- Catalogs section start -->
<!-- Catalogs section end -->
<!-- Products section start -->
<!-- Products section end -->
<!-- Reviews section start -->
<!-- Reviews section end -->
{{end}}
